header{
    width: 50.6%;
    height: 160px;
    margin: auto;
    padding-top: 10px;
}
div {
    display: block;
}
.headertext {
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 4.16px;
    padding-bottom: 4.16px;
    position: relative;
    float: left;
    margin-left: 25px;
    font-style: italic;
    color: #fff;
    background: #558971;
    margin-top: 3.4%;
    width:45.7%;
}
.achtergrond{
    background-color: white;
    height: 160px;
}
body {
    font-size: 12px;
    color: #686363;
    line-height: 0px;
}
body{
    background-color: #f6f6f6;
}
body, p {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}
h5{
    text-align: center;
    font-size: 18px;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-weight: normal;
}
h4{
    text-align: center;
    font-size: 20px;
}
.wififoto{
    margin-top: 53px;
    margin-left: 62px;
    float: left;
    width: 14.89361702%;
    height: auto;
}
.logo{
    float: right;
    margin-top: 11.4px;
    margin-right: 11px;
}
.inhoud{
    height: 60%;
    width: 50.6%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.inhoud header{
    margin-left: 11px;
    margin-right: 11px;
}
h1{
    margin-left: 3.2%;
    font-size: 22px;
    color: #686363;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

p {
    display: block;
    font-size: 13px;
    margin: 0 0 9px;
    line-height: 18px;
    padding-left: 26px;
    padding-right: 32px;
}
li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 8px;
    z-index: 130;
    background: #f6f6f6;
}
li a {
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;
}
footer{
    padding-top: 11px;
    text-align: center;
}
.einde{
    border-bottom: 1px dotted gray;
}
.link{
    padding-left: 26px;
    padding-right: 32px;
    font-size: 10pt;
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;
}
.pdf{
    text-decoration: none; 
    background-color: #C09853;
    padding: 3px;
    margin-left: 26px;
    border-radius: 5px;
    color: white;
}
.mail{
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;
}