.rating {
display: block;
position: relative;
height: 10px;
line-height: 50px;
font-size: 50px;
margin-left: 21px;
}
.rating label {
position: absolute;
top: 0;
left: 0;
height: 100%;
cursor: pointer;
}

.rating label:last-child {
position: static;
}

.rating label:nth-child(1) {
z-index: 5;
}

.rating label:nth-child(2) {
z-index: 4;
}

.rating label:nth-child(3) {
z-index: 3;
}

.rating label:nth-child(4) {
z-index: 2;
}

.rating label:nth-child(5) {
z-index: 1;
}

.rating label input {
position: absolute;
top: 0;
left: 0;
opacity: 0;
}

.rating label .icon {
float: left;
color: transparent;
}

.rating label:last-child .icon {
color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
color: #558971;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
color: #000;
text-shadow: 0 0 5px #558971;
}
.rec{
    margin-left: 26px;
    /*height: 25%;*/
    width: 40%;
    display: block;
    border-radius: 5px;
}
.submit{
    float: left;
    margin-left: 26px;
    margin-top: 15px;
    display: block
}
header{
    width: 50.6%;
    height: 160px;
    margin: auto;
    padding-top: 10px;
}
div {
    display: block;
}
.headertext {
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 4.16px;
    padding-bottom: 4.16px;
    position: relative;
    float: left;
    margin-left: 25px;
    font-style: italic;
    color: #fff;
    background: #558971;
    margin-top: 3.4%;
    width:45.7%;
}
.achtergrond{
    background-color: white;
    height: 160px;
}
body {
    font-size: 12px;
    color: #686363;
    line-height: 0px;
}
body{
    background-color: #f6f6f6;
}
body, p {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}
h5{
    text-align: center;
    font-size: 18px;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-weight: normal;
}
h4{
    text-align: center;
    font-size: 20px;
}
.wififoto{
    margin-top: 53px;
    margin-left: 62px;
    float: left;
    width: 14.89361702%;
    height: auto;
}
.logo{
    float: right;
    margin-top: 11.4px;
    margin-right: 11px;
}
.inhoud{
    height: 43%;
    width: 50.6%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.inhoud header{
    margin-left: 11px;
    margin-right: 11px;
}
h1{
    margin-left: 3.2%;
    font-size: 22px;
    color: #686363;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

p {
    display: block;
    font-size: 13px;
    margin: 0 0 9px;
    line-height: 18px;
    padding-left: 26px;
    padding-right: 32px;
}
li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 8px;
    z-index: 130;
    background: #f6f6f6;
}
a {
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;
}
footer{
    padding-top: 11px;
    text-align: center;
}
.einde{
    border-bottom: 1px dotted gray;
}
