li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: #f6f6f6;
    color: #4e856b;
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    text-align: justify;
}
body {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-size: 10px;
    color: #686363;
    line-height: 22px;
    background: #f6f6f6;
}
ul {
    border-bottom: 1px solid #558971;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.greener{
    padding: 9px 34px 9px 14px;
    border-radius: 4px;
    border: 1px solid rgb(213, 233, 198);
    border-image: none; 
    color: rgb(70, 136, 71);
    margin-bottom: 15px;
    background-color: rgb(233, 240, 217);
}
.container {
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 980px;
    height: 171px;
    margin: auto;
    padding-top: 10px;
}
.headertext {
    position: relative;
    width: 50%;
    float: left;
    margin-left: 25px;
    font-style: italic;
    color: #fff;
    background: #558971;
    margin-top: 3%;
    padding: 8px 8px 8px;
}
.achtergrond{
    background-color: white;
    height: 171px;
}
body {
    font-size: 10px;
    color: #686363;
    line-height: 0px;
    background-color: #f6f6f6;
}
body, p {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}
h5{
    text-align: center;
    font-size: 18px;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-weight: normal;
}
h4{
    text-align: center;
    font-size: 20px;
}
.wififoto{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
.logo{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
.inhoud{
    height: 80%;
    width: 980px;
    background-color: #fff;
    padding-bottom: 10px;
    margin: 0 auto;
}

h1{
    margin-left: 3%;
    font-size: 22px;
    color: #686363;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 12px;
    margin-top: 0px;
}

p {
    display: block;
    font-size: 13px;
    margin: 0 0 9px;
    line-height: 18px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;
}
span{
    font-size: 12px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
}
.mySlides {
    display: none;
   
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1%;  
    float: right;
    width: 100%;

}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.imgSlide{
    float: right;
    max-width: 500px;
    min-width: 500px;
    height: 500px;
}
.alignDot{
    margin: 0 auto;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.greenbox {
    margin-top: 25px;
    float: left;
    width: 280px;
    background-color: #F6F6F6;
    min-height: 200px;
    max-height: 300px;
}
.margin {
    margin-left: 5%;
}
.padding {
    padding-top: 15px;
}
.image{
    float: right;
    height: 50%;
    width: 50%;
    
    
}
footer{
    padding-top: 11px;
    text-align: center;
}
.einde{
    border-bottom: 1px dotted gray;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}