header{
    width: 980px;
    height: 171px;
    margin: auto;
    padding-top: 10px;
}
div {
    display: block;
}
.headertext {
    position: relative;
    width: 50%;
    float: left;
    margin-left: 25px;
    font-style: italic;
    color: #fff;
    background: #558971;
    margin-top: 3%;
    padding: 8px 8px 8px;
}
.achtergrond{
    background-color: white;
    height: 171px;
}
body {
    font-size: 12px;
    color: #686363;
    line-height: 0px;
}
body{
    background-color: #f6f6f6;
}
body, p {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}
h5{
    text-align: center;
    font-size: 18px;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-weight: normal;
}
h4{
    text-align: center;
    font-size: 20px;
}
.wififoto{
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
.logo{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
.inhoud{
    height: 810px;
    width: 980px;
    background-color: #fff;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.inhoud header{
    margin-left: 11px;
    margin-right: 11px;
}
h1{
    margin-left: 3%;
    font-size: 22px;
    color: #686363;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 12px;
    margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

p {
    display: block;
    font-size: 13px;
    margin: 0 0 9px;
    line-height: 18px;
    padding-left: 20px;
}
li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 8px;
    z-index: 130;
    background: #f6f6f6;
}
a {
    text-decoration: none;
    color: #4e856b;
}
