.rcontainer{
    border: 1px solid black;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 20px;
}


a {
    text-decoration: none;
    color: #4e856b;
    font-weight: bold;

}
body {
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    font-size: 0.8em;
}
ul {
    padding: 0;
    width: 100%;
    float: left;
    border: 1px solid #444;
    margin: 0 auto;
}
.navi{
    
}