.slogan{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
    color: #fff;
    background: #558971;
}
.slogan h4{
    font-weight: bold;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.slogan h5{
    text-align: center;   
    margin-top: 0px;  
}
div{
    display: block;
}
.container{
    margin-left: 11px;
    margin-right: 11px;
    width: 650px;
    float: left;
    margin-left: 20px;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #ffffff;
}
.container .container-padding{
    background: #fff;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
}
.container-padding{

    padding-left: 25px;
    padding-right: 25px;
}
